.plain{
    border: none;
    background: none;
    text-align: center;
}

.rounded-4{
    border-radius: 16px;
}

.check{
    height: 20px;

    &, .fas, .far{        
        line-height: 20px !important;
    }

    .bonus{
        width: 20px;
    }
}

.far, .fas{
    &::before{
        vertical-align: middle;
    }
}

.hex{
    background-color: var(--color);    
    color: var(--text);    
    width: 47px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    position: relative;

    .lt, .lb, .rt, .rb{
        position: absolute;
        border-top: $hex-border solid transparent;
        border-left: $hex-border solid transparent;
        border-right: $hex-border solid transparent;
        border-bottom: $hex-border solid transparent;
    }

    .lt, .lb{
        border-left: $hex-border solid white;
        left: 0;
    }
    .rt, .rb{
        border-right: $hex-border solid white;
        right: 0;
    }
    .lt, .rt{
        border-top: $hex-border solid white;
        top: 0;
    }
    .lb, .rb{
        border-bottom: $hex-border solid white;
        bottom: 0;
    }
}