$input-btn-padding-y: .25rem;
$input-btn-padding-x: .25rem;
$btn-padding-y: .25rem;
$btn-padding-x: .5rem;
$alert-padding-x: .25rem;
$alert-padding-y: .25rem;
$font-size-base: .8rem;
$small-font-size: .5rem;

$hex-border: 6px;
$border-color: #000;