$input-btn-padding-y: .25rem;
$input-btn-padding-x: .25rem;
$btn-padding-y: .25rem;
$btn-padding-x: .5rem;
$alert-padding-x: .25rem;
$alert-padding-y: .25rem;

$hex-border: 6px;
$border-color: #000;
$transition-collapse: none;

$info: #588;