.min-vh-100 {
   min-height: 100vh;
}

body,
.modal-content {
   background-color: var(--background);
}

body,
input,
select,
.btn-outline {
   &,
   &:active,
   &:focus {
      color: var(--input-color);
   }
}

.btn:not(.btn-light):not(.btn-outline) {
   &,
   &:active,
   &:focus {
      color: #fff;
   }
}

.plain {
   border: none;
   text-align: center;
   text-align-last: center;
   text-align: -webkit-center;
   padding: 0;
}

.clear {
   padding: 0;
   background: none;
   border: none;
}

.card {
   .card-header {
      border-radius: $border-radius;
   }

   background: none;
   border-radius: $border-radius;
   box-shadow: inset 0px 0px 0px 1px var(--border);
}

input,
select {
   min-width: 0;
   background: none;
}

hr {
   color: var(--border);
}

.check {
   height: 20px;

   &,
   .fas,
   .far {
      line-height: 20px !important;
   }

   .bonus {
      display: inline-block;
      width: 30px;
      text-align: center;
   }
}

.far,
.fas {
   &::before {
      vertical-align: middle;
   }
}

.mt-n3 {
   margin-top: -14px;
}

.bones {
   width: 160px;
   --oct-bg: var(--bones-bg);
   --oct-border: #000;
}

.modal-body {
   max-height: 400px;
   overflow-y: auto;
   word-break: break-all;
}

.attribute {
   width: 70px;
   --oct-bg: var(--gray-bg);
}

.loading-bar {
   background: linear-gradient(90deg, rgba(150, 255, 150, 0.7) var(--percent), var(--background) var(--percent));
   opacity: 0.8;
}

.message {
   z-index: 1000;
}

.oct-small {
   font-size: 14px;
   select,
   input {
      height: 24px;
   }
}

.p-small {
   padding: 1px 0;
}

.fade-enter-active,
.fade-leave-active {
   transition: opacity 0.5s;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
   transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to,
.fade-fast-enter-from,
.fade-fast-leave-to {
   opacity: 0;
}

.w-50px {
   width: 50px;
}

.lh-0 {
   line-height: 0;
}

.lh-inherit {
   line-height: inherit;
}

.op-05 {
   opacity: 0.5;
}

.op-03 {
   opacity: 0.3;
}

.rounded-row {
   > *:first-child {
      width: 60px;
      text-align: center;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
   }
   > *:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
   }
}

.shadow-success {
   box-shadow: inset 0 0 0 3px $green;
}

.btn {
   &:focus,
   &:active {
      box-shadow: none;
   }
}

.btn.fw {
   width: 120px;
}
