.min-vh-100 {
   min-height: 100vh;
}

body,
.modal-content {
   background-color: var(--background);
}

body,
input,
select {
   color: var(--input-color);
}

.btn:not(.btn-light) {
   color: #fff;
}

.plain {
   border: none;
   text-align: center;
   text-align-last: center;
   text-align: -webkit-center;
   padding: 0;
}

.card {
   .card-header {
      border-radius: $border-radius;
   }

   background: none;
   border-radius: $border-radius;
   box-shadow: inset 0px 0px 0px 1px var(--border);
}

input,
select {
   min-width: 0;
   background: none;
}

.rounded-4 {
   border-radius: 16px;
}

.check {
   height: 20px;

   &,
   .fas,
   .far {
      line-height: 20px !important;
   }

   .bonus {
      width: 24px;
      text-align: center;
   }
}

.far,
.fas {
   &::before {
      vertical-align: middle;
   }
}

.mt-n3 {
   margin-top: -14px;
}

.bones {
   width: 160px;
   --oct-bg: var(--bones-bg);
}

.modal-body {
   max-height: 400px;
   overflow-y: auto;
   word-break: break-all;
}

.attribute {
   width: 70px;
}

.loading-bar {
   background: linear-gradient(90deg, #cfc var(--percent), var(--background) var(--percent));
   opacity: 0.8;
}

.message {
   z-index: 1000;
}

select,
.lh-27 {
   height: 27px;
}

.p-small {
   padding: 1px 0;
}

.fade-enter-active,
.fade-leave-active {
   transition: opacity 0.5s;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
   transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to,
.fade-fast-enter-from,
.fade-fast-leave-to {
   opacity: 0;
}

.w-50px {
   width: 50px;
}

.lh-0 {
   line-height: 0;
}

.op-05 {
   opacity: 0.5;
}

.rounded-row {
   > *:first-child {
      width: 60px;
      text-align: center;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
   }
   > *:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
   }
}
