.min-vh-100 {
   min-height: 100vh;
}

.plain {
   border: none;
   text-align: center;
   text-align-last: center;
   text-align: -webkit-center;
   padding: 0;
}

.card {
   .card-header {
      border-radius: $border-radius;
   }

   background: none;
   border-radius: $border-radius;
   box-shadow: inset 0px 0px 0px 1px var(--border);
}

input,
select {
   min-width: 0;
   background: none;
}

.rounded-4 {
   border-radius: 16px;
}

.check {
   height: 20px;

   &,
   .fas,
   .far {
      line-height: 20px !important;
   }

   .bonus {
      width: 24px;
      text-align: center;
   }
}

.far,
.fas {
   &::before {
      vertical-align: middle;
   }
}

.mt-n3 {
   margin-top: -14px;
}

.bones {
   background-color: rgba(230, 188, 155, 0.5);
   width: 160px;
}

.modal-body {
   max-height: 400px;
   overflow-y: auto;
   word-break: break-all;
}

.heart {
   background-image: url("~@/assets/heart.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.attribute {
   width: 70px;
}

.loading-bar {
   background: linear-gradient(90deg, #cfc var(--percent), #fff var(--percent));
   opacity: 0.8;
}

.message {
   z-index: 1000;
}

select {
   height: 27px;
}

.p-small {
   padding: 1px 0;
}

.fade-enter-active,
.fade-leave-active {
   transition: opacity 0.5s;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
   transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to,
.fade-fast-enter-from,
.fade-fast-leave-to {
   opacity: 0;
}

.w-50px {
   width: 50px;
}

.lh-0 {
   line-height: 0;
}

.op-05 {
   opacity: 0.5;
}

.popover {
   padding-left: 5px;
   padding-right: 5px;
   background-color: unset;
   border: none;
   .popover-body {
      color: var(--input-color);
      padding-left: 5px;
      padding-right: 5px;
      border: 1px var(--border) solid;
      border-radius: $border-radius;
      background-color: var(--input-disabled-bg);
   }
}

.bs-popover-top {
   .popover-arrow {
      bottom: -0.5rem;
      &::after {
         border-top-color: var(--input-disabled-bg);
      }
      &::before {
         border-top-color: var(--border);
      }
   }
}

.rounded-row {
   > *:first-child {
      width: 60px;
      text-align: center;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
   }
   > *:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
   }
}
