.dark-mode {
   --border: #888;
   --input-bg: #444;
   --input-color: #eee;
   --input-focus-bg: #333;
   --input-focus-color: #eee;
   --input-disabled-bg: #333;
   --background: #111;
   --bones-bg: #420;
   --oct-border: #000;
   --gray-bg: #444;
   --yellow-bg: #543;

   .text-secondary {
      filter: brightness(1.5);
   }

   .card {
      border-color: var(--input-color);
   }
}
