.dark-mode {
   --border: #888;
   --input-bg: #444;
   --input-color: #ddd;
   --input-focus-bg: #333;
   --input-focus-color: var(--input-color);
   --input-disabled-bg: #333;
   --background: #222;
   --bones-bg: #583f3f;
   --oct-border: #000;
   --gray-bg: #444;
   --yellow-bg: #543;
   --light: #ddd;

   .text-secondary {
      color: var(--border) !important;
   }

   .heart {
      background-image: url('~@/assets/heart-dark.svg');
   }

   .hex.light,
   .block.light {
      filter: grayscale(1);
      input,
      div {
         color: var(--input-color);
      }
   }

   .border-dark {
      border-color: var(--border) !important;
   }
}

body.dark-mode {
   .attribute {
      text-shadow: 0 0 5px #000;
   }
}

body:not(.dark-mode) {
   .attribute {
      filter: brightness(2) saturate(0.5);
   }
}
