.block,
.hex {
   z-index: 1;
   width: 46px;
   height: 24px;
   line-height: 24px;
   background-size: cover;
   background-position: bottom;
   filter: hue-rotate(var(--color));
   display: inline-block;
   position: relative;

   > * {
      text-align: center;
      text-align-last: center;
      text-align: -webkit-center;
   }

   &.light > input {
      color: #000;
   }

   &:not(.light) {
      &,
      > * {
         color: var(--light);
      }
   }

   &.gray {
      filter: grayscale(1);
   }

   &.light {
      filter: grayscale(1) brightness(5);
      color: #000;
   }

   &.big {
      font-size: 18px;
   }

   option {
      background-color: black;
   }

   &:focus-visible {
      border: none;
   }
}

.block {
   background-image: url('~@/assets/images/block.svg');
}

.hex {
   background-image: url('~@/assets/images/hexagon.svg');
}

.heart {
   background-image: url('~@/assets/images/heart.svg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.fa-slash {
   transform: rotate(80deg);
   font-size: 75%;
}
