@font-face {
   font-family: 'Lora';
   src: url('~@/assets/fonts/Lora-Regular.ttf');
   font-weight: normal;
}

@font-face {
   font-family: 'Lora';
   src: url('~@/assets/fonts/Lora-Bold.ttf');
   font-weight: bold;
}

* {
   font-family: 'Lora', serif;
}
