:root {
   --background: #faf9f8;
   --border: #000;
   --input-bg: var(--background);
   --input-color: #000;
   --input-focus-bg: var(--input-bg);
   --input-focus-color: #000;
   --input-disabled-bg: #eee;
   --bones-bg: #fdd;
   --yellow-bg: #fec;
   --gray-bg: #fef8f5;
   --oct-border: #333;
   --light: #ddd;
}

$border-color: var(--border);
$input-bg: var(--input-bg);
$input-color: var(--input-color);
$input-focus-bg: var(--input-focus-bg);
$input-focus-color: var(--input-focus-color);
$input-disabled-bg: var(--input-disabled-bg);

$primary: #414039;
$blue: #44a;
$green: #484;
$red: #b44;
$warning: #a61;
$secondary: #666;
$info: $blue;
