$min-contrast-ratio: 4;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$enable-negative-margins: true;

$input-btn-padding-y: 0.25rem;
$input-btn-padding-x: 0.25rem;
$btn-padding-y: 0.25rem;
$btn-padding-x: 0.5rem;
$alert-padding-x: 0.25rem;
$alert-padding-y: 0.25rem;
$popover-body-padding-y: 0.25rem;
$popover-body-padding-x: 0.25rem;

$border-radius-pill: 50rem;

$hex-border: 6px;
$transition-collapse: none;

$card-border-width: 0;
$card-border-radius: 0;

$popover-border-color: rgba(#000, 0.5);

$dropdown-border-color: var(--border);
$dropdown-border-radius: 0;
$dropdown-padding-y: 0;

$h6-font-size: 110%;

:root {
   --oct-size: 10px;
}
