$min-contrast-ratio: 4;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$input-btn-padding-y: 0.25rem;
$input-btn-padding-x: 0.25rem;
$btn-padding-y: 0.25rem;
$btn-padding-x: 0.5rem;
$alert-padding-x: 0.25rem;
$alert-padding-y: 0.25rem;

$hex-border: 6px;
$transition-collapse: none;
